html{
    width: 1280px;
    height: 1653px;
    padding: 0px auto;
    background-color: #FEFEFE;
    margin:0px auto;
    border: 0px;
  }

.header{
    padding: 0 auto;
    margin: 0 auto;
    background-color: #EFEFEF;
}

.style_one{
    color: #000;
    width: 100%;
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
} 

.header_flex{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;    
}

.header_logo{
    padding: 0 auto;
    margin-left: 100px;
    padding-top: 60px;
}

.header_icon{
    display: flex;
    margin-right: 30px;
}

.header_icon_link{
    width: 35px;
    height: 35px;
    padding: 0 auto;
    margin-right: 20px;
    margin-bottom: 5px;
}
.header_icon_link:hover{
    opacity: 0.6;
}

.header_nav{
    display: flex;
    justify-content: space-around;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.header_nav_li{
    padding-left: 80px;
    color: #000;
    text-decoration: none;
}
.header_nav_li:hover{
    color: rgb(94, 94, 94);
}

.content_title{
}

.content_title_mainpromotion{
    margin-bottom: 10px;
}

.content_title_shopbuttom{
    display: flex;
    justify-content: flex-end;
}

.content_shopbuttom_women{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 36px;
    background-color: #000;
    border-style:solid;
    border-width: 1px;
    border-color: #000;
    margin-right: 10px;
}

.content_shopbuttom_women:hover{
    background-color: rgb(71, 71, 71);
    color: #FFFFFF;
    border-color: rgb(71, 71, 71);
}

.content_shopbuttom_men{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 184px;
    height: 36px;
    background-color: #FFFFFF;
    border-style:solid;
    border-width: 1px;
    border-color: #000;
    margin-right: 50px;
}

.content_shopbuttom_men:hover{
    background-color: rgb(71, 71, 71);
    color: #FFFFFF;
    border-color: rgb(71, 71, 71);
}

.buttom_style_A{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.buttom_style_B{
    color: #000;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
}

.content_category{
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 70px;
}

.content_cotegory_block{
    padding: 0 auto;
    margin-right: 35px;
    margin-left: 35px;
    margin-bottom: 40px;

}

.content_cotegory_photo{
    width: 306px;
    height: 177px;
}

.content_cotagory_text{
    margin-top: 5px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;
}

.content_hr{
    width: 306px;
    padding: 0 auto;
    margin: 0 auto;
}

.content_cotagory_link{
    color: #000;  
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    text-align:right;
}

.link_style{
    color: #000;
    text-decoration: none;
}

.link_style:hover{
    color: rgb(94, 94, 94);

}

.footer{
    background-color: #DBDBDB;
    width: 100%;
    height: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_text{
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    color: #000;
}


